
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" [(opened)]="opened" (opened)="events.push('open!')"
    (closed)="events.push('close!')">

      <app-leftbar></app-leftbar>
      
    </mat-drawer>
  
    <mat-drawer-content>
        <div class="example-sidenav-content" style="padding-left: 50px;padding-right: 50px;">
            <!-- <button type="button" mat-button (click)="drawer.toggle()">
              Toggle sidenav
            </button> -->
            <!-- <app-cart-list></app-cart-list>
            <app-shipping-list></app-shipping-list> -->
            <router-outlet></router-outlet>
            
          </div>

    </mat-drawer-content>

  </mat-drawer-container>