<mat-nav-list >
    <mat-list-item><a style="color: white;" routerLink="">Home</a></mat-list-item>
    <mat-list-item *ngIf="isAuthenticated" routerLink="/cart-list">Cart List</mat-list-item>
    <mat-list-item *ngIf="isAuthenticated" routerLink="/order-list">Order List</mat-list-item>
    
    <!-- <a style="color: white;"  routerLink="/products">Products</a> -->
    
      <mat-list-item>Administration</mat-list-item>
      <mat-list-item *ngIf="isAuthenticated" routerLink="/products">Products </mat-list-item>
    
    <mat-list-item *ngIf="isAuthenticated" routerLink="/signout">Sign Out</mat-list-item>
    <mat-list-item *ngIf="!isAuthenticated" routerLink="/signin">Sign In</mat-list-item>
    <mat-list-item *ngIf="!isAuthenticated" routerLink="/signup">Sign Up</mat-list-item>

  </mat-nav-list>